body {
	background-image: url('../img/9.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

section {
	height: auto;
}
.fxFade {
    background: rgba(0,0,0,0.5);
}

.sec-white {
	background: #fff;
}

.sec-dark {
	background-image: url('../img/1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}

.sec-pic {
	background-image: url('../img/rhombus.svg');
	background-repeat: no-repeat;
	background-size: 1500px;
	background-position: center;
	background-position-y : 0px;
	padding-bottom: 88px;
}

.sec-slide {
	background-image: url('../img/smo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.sec-dark  .sec-white {
	opacity: .6;
}

.about-top {
	width: 100%;
	height: 800px;
  	text-align: center;
}

.atop-text {
	bottom: 0;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    color: white;
}

.atop-text p {
	line-height: 35px;
    color: #fff;
    letter-spacing: 1px;
    font-style: italic;
    width: 100%;
}

.atop-photo img{
	width: 100%;
}

.atop-logo {
	width: 128px;
	margin: auto;
	top: 250px;
    position: absolute;
    right: 0;
    left: 0;
    opacity: .6;
}

.atop-down {
	position: absolute;
	bottom: 20px;
    position: absolute;
    right: 0;
    left: 0;
}

.quotation {
	font-size: 30px;
    font-family: -webkit-pictograph;
}

.atop-down img {
	width: 20px;
}

/*atop end*/

.atext {
	width: 70%;
    margin: 70px auto;
}

.con1 {
	overflow: hidden;
    width: 100%;
}

.con2 {
	width: 50%;
	height: auto;
	float: left;
	display: inline-block;
}

.con2 img{
	width: 150px;
	margin: 70px auto;
}

.con2wid {
	width: 80%;
	margin: auto;
}

.con2 p {
	width: 100%;
	text-align: left;
}

.con3 {
	height: 300px;
}

.conwhite {
	background: #fff;
}

.clear {
	clear: both;
}

.t-con {
	line-height: 290px;
}

.t-box {
	border: 1px solid;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 200px; 
    margin: auto;
}

.underline {
	border-bottom: 1px solid #f0f0f0;
}

.tsai img {
	width: 250px;
}

.at-left p {
	text-align: left;
}

.pwht p , .pwht h2 , .pwht h5, .pwht h6 {
	color: #fff;
}

.con3 ul {
	bottom: 0;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    line-height: 20px;
}

.itemwrap p {
	line-height: 50px;
}

.acopyright {
	color: #999;
    font-size: 12px;
    bottom: 20px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    position: fixed;
}

.onepage-foot {
	position: relative;
	background-color: #fff;
}

.onepage-foot p {
	color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: #000;
    line-height: 50px;
}

.sec-media .component-fullwidth { 
	background-image: url('../img/rhombus1.svg');
	background-repeat: no-repeat;
	background-size: 3000px;
	background-position: center;
}

.media-title {
	margin-bottom: 0;
}

.sec-media .component-fullwidth nav a {
	color: #000;
}

@media screen and (max-width: 740px) {
	.con2{
		width: 100%;
	}
	.t-con {
    	line-height: 250px;
	}
}

#awardSlider p h5 h6 {
	color: #fff;
}

.textwhite {
	color: #fff;
}

#a-slider {
	width: 100%;
	height: 315px;
	padding: 45px 0;
}


.awards {
	margin-top: 83px;
}

#a-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff; 
    opacity: 0.5;
    width: 5px;
    height: 5px;
}

#a-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#a-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #fff;
	opacity: 1;
}


#a-slider .bx-wrapper .bx-controls-direction a {
	text-indent: -9999px;
	width: 40px;
	height: 58px;
	opacity: 0.7;
	transition: opacity .5s;
}

#a-slider .bx-wrapper .bx-controls-direction a:hover {
	opacity: 1;
}

#a-slider .bx-wrapper .bx-prev {
	background-image: url(/img/pret.png); 
	background-size: 40px;
}

#a-slider .bx-wrapper .bx-next {
	background-image: url(/img/nt.png); 
    background-size: 40px;
}

#a-slider .bx-wrapper .bx-prev {
    left: 0px;
    top: -20px;
}

#a-slider .bx-wrapper .bx-next {
    right: 0px;
    top: -20px;
}

#a-slider .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	
} 

#slider .itemwrap {
	margin-top: 0;
}

.proj-btm {
    width: 200px;
    display: inline-block;
    background-image: url('../img/rhombus2.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.proj-btm a p {
	line-height: 40px;
}


@media screen and (max-width: 450px) {
	#a-slider .bx-wrapper .bx-controls-direction a {
		display: none;
	}
}


/*loading19*/
#loading19{
	position: absolute;
	width: 70px;
	height: 70px;
	-webkit-perspective:800px;
	-webkit-perspective-origin:50% 50%;
}
#loading19 .cube{
     position:absolute;
     top:20px; left: 25px;
    -webkit-transform:rotateX(-45deg) rotateY(-45deg);
    -webkit-transform-style: preserve-3d;
    -webkit-animation:rotateSquer 9.5s linear infinite;
}


#loading19 .cube .squre{
    position: absolute;
	width:25px;
	height:25px;
	background: transparent;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

#loading19 .squre_front{
	border: 1px solid  #fff;
}

#loading19 .squre_back{
	border: 1px solid #fff;
    -webkit-transform:translateZ(-25px);
}

#loading19 .squre_top{
	border: 1px solid #fff;
	border-top: none;
	border-bottom: none;
	-webkit-transform:translateY(-25px) rotateX(90deg);
	-webkit-transform-origin:bottom center;

}
#loading19 .squre_bottom{
	border: 1px solid  #fff;
	border-top: none;
	border-bottom: none;
	-webkit-transform-origin:bottom center;
	-webkit-transform:rotateX(90deg);
}

#loading19 .squre_left{
	-webkit-transform-origin:left center;
	-webkit-transform:rotateY(90deg);
}
#loading19 .squre_right{
	-webkit-transform-origin:right center;
	-webkit-transform:rotateY(-90deg);
}

/*loading19animation*/
@-webkit-keyframes rotateSquer{
	0%{-webkit-transform:rotateX(0deg) rotateY(0deg) ;-webkit-transform-origin: 10px 10px;}
	100%{-webkit-transform:rotateX(360deg) rotateY(360deg) ;-webkit-transform-origin: 5px 10px; }
}


