body {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
  background-color: #000;
  background-image: url(../img/smo2.jpg);
}

.bx-wrapper .bx-viewport {
    left: 0px !important;
  }

h2, h3, h6 {
	color: #E59F65;
}

h3 {
	text-align: left;
}

a {
  color: #000;
	transition: opacity .5s;
}

a:hover {
	opacity: 1;
	color: #E59F65;
  text-decoration: none;
}

svg {
	position: absolute;
	stroke:#E59F65; 
	stroke-width:1;
}

.atop-text {
	bottom: 50%;
}

.sec-pic {
    background-image: url(../img/rhombus3.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
    background-position-y: 10px;
    padding-bottom: 10px;
}

.t-con {
    line-height: 150px;
}

.b-box {
	border: 1px solid #E59F65;
    padding: 15px 40px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 200px;
    font-size: 13px;
    color: #E59F65;
    background-color: #000;
    opacity: 0.6;
}

.boomlink {
    width: 20%;
    height: auto;
    display: inline-block;
}

@media screen and (max-width: 980px) {
	.boomlink{
		width: 100%;
	}
	.t-con {
    	line-height: 60px;

	}
}

.triangle-box {
    background: white;
    width: 100%;
    height: 30px;
    position: relative;
}

.line {
    height: 39px;
    border-bottom: 1px solid #E59F65;
    opacity: 0.7;
}

.triangle {
    background: white;
    border: 1px solid #E59F65;
    border-width: 1px 1px 0 0;
    transform: rotate(-45deg);
    position: relative;
    top: 28px;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.boomhistory {
	width: 80%;
    margin: 0 auto;
}

.boomhistory img {
	width: 200px;
	border: none;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .3s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .3s ease-in-out;
}


.boomhistory ul li a img:hover {
	border: 0.5px solid;
  	padding: 5px;
  	-webkit-filter: grayscale(0%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .3s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .3s ease-in-out;
}

#current a p ,#current a h1 {
  color: #E59F65;
}

#current img {
  border: 0.5px solid #E59F65;
  padding: 5px;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%); 
  transition: grayscale .3s ease-in-out;
}

.boomhistory ul li {
	display: inline-block;
	width: 200px;
    margin: 20px 10px 45px 10px;
	height: 250px;
}

.boomhistory ul li a p {
	margin: 10px 0 5px 0;
}

.btext {
	width: 100%;
    margin: 30px auto;
    padding-top: 30px;
    text-align: left;
    border-top: 1px solid #E59F65;
}

.artist {
	width: 100%;
    margin: 0 auto;
}

.bpostlink {
	height: auto;
    display: inline-block;
}

.b-con {
	line-height: 150px;
	float: left;
	margin: 0 20px;
}

.bpost-box {
	background-color: #fff;
	opacity: 1;
	transition: background 0.5s;
}

.bpost-box:hover {
	background: #f0f0f0;
}

.goldline {
	border-top: 1px solid #E59F65;
	margin-top: 70px; 
}

.bcon2 .fa {
	width: 20px;
	color: #E59F65;
}

.awards {
    margin-top: -45px;
}

#a-slider {
  height: auto;
}

#a-slider .bx-wrapper .bx-prev {
    left: 0px;
    top: 45%;
}

#a-slider .bx-wrapper .bx-next {
    right: 0px;
    top: 45%;
}

.bx-wrapper .bx-caption span {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
}

.awards ul li {
   overflow: hidden;
}

@media screen and (min-width: 1240px) {
  .awards ul li {
   max-height: 700px;
   overflow: hidden;
  }
}

.sec-slide {
    background-image: none;
}
/*
collapse*/
#content h2 {
    margin: 25px 0 10px 0;
    text-align: left;
}
/*collapse*/
#a-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #000;
}
#a-slider .bx-wrapper .bx-pager.bx-default-pager a:hover, #a-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

@media only screen and (min-width: 0px) and (max-width: 320px){
  .atop-text {
  bottom: 70%;
}
}

.con3wid {
  width: 100%;
  margin: auto;
}

.nov12test{
  width: 100%;
}

@media only screen and (max-width: 615px){
  .b-con {
    float: none;
  }
}