body {
  background-image: none;
}

.fxFade {
  background: rgba(0,0,0,0.5);
}
.grid-item h3 {
  line-height: 20px;
  text-transform:uppercase;
}

.grid-item h5 {
  margin-bottom: 20px; 
}

.grid{
  margin-top: 125px;
}

.grid-sizer,
.grid-item {
   width: 33.3%; 
   padding: 25px;
   float: left;
}
/* 2 columns */
.grid-item--width2 { width: 40%; }

@media screen and (max-width: 1000px) {
  .grid-item { width: 50%; }
}

@media screen and (max-width: 768px) {
  .grid-item { width: 100%; }
}

.feature {
  display: inline-block;
}

.feature img {
  width: 100%;
  -webkit-transition: .5s ease-in-out;
}

.feature img:hover {
  border: 0.5px solid;
}

/* line 3, ../sass/style.scss */
#outer-box {
  width: 100%;
  display: block;
  position: relative;
}
/* line 9, ../sass/style.scss */
#outer-box img {
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease-in-out;
}
/* line 14, ../sass/style.scss */
#outer-box #inner-box {
  background: #555;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 30px;
  transition: opacity .5s;
  -webkit-transition: .5s ease-in-out;
}
/* line 25, ../sass/style.scss */
#outer-box #inner-box p {
  color: #fff;
  text-align: center;
  margin: 20px auto;
  height: 68%;
  overflow: hidden;
}
/* line 34, ../sass/style.scss */

#inner-dicora {
  opacity: 0;
  top: 6%;
  left: 5%;
  right: 5%;
  bottom: 6%;
  position: absolute;
  padding: 30px;
  border: 1px solid #fff;
  z-index: 1;
  -webkit-transition: .5s ease-in-out;
}

#outer-box:hover #inner-box {
  opacity: .9;
  transition: opacity .5s;
  -webkit-transition: .5s ease-in-out;
}

#outer-box:hover #inner-dicora {
  opacity: .9;
  -webkit-transition: .5s ease-in-out;
}

#inner-dicora p {
  font-size: 12px;
}

.more {
  position: absolute;
  top: 45%;
  left: 30%;
  background: #333;
  color: #fff;
  border: 1px solid #fff;
  width: 150px;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  -webkit-transition: .5s ease-in-out;
}

.news {
  text-align: center;
  margin: 180px 0 -105px 0;
}


.new-con {
  margin: 0px auto;
  width: 60%;
  text-align: left;
}

.new-first-con {
  margin-top: 170px;
}

.new-con2 {
  margin: 40px auto;
  width: 60%;
  text-align: left;
}

.new-info {
  margin: 40px 0;
}

.new-con h2 {
  font-size: 30px;
  color: #555;
}

.new-con h6 {
  font-size: 12px;
  color: #8a8a8a;
}

.new-con div img {
  width: 700px;
  margin: 40px 0;
  align-items: left;
}

iframe {
  width: 100%;
  margin: 40px 0;
}

.newspagebar {
  text-align: center;
}

.newspagebar ul li {
  display: inline-block;
  margin: 0 10px;
}

#a-slider {
    width: 100%;
    height: 500px;
    padding: 0;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

.bx-wrapper .bx-viewport {
     left: 0px; 
}

#a-slider .bx-wrapper .bx-prev {
    left: 0px;
    top: 45%;
    display: block;
}

#a-slider .bx-wrapper .bx-next {
    right: 0px;
    top: 45%;
    display: block;
}

@media screen and (min-width: 1240px) {
.awards ul li {
    max-height: 500px;
    overflow: hidden;
}