body {
  background-image: none;
}

.fxFade {
  background: rgba(0,0,0,0.5);
}
.grid-item h3 {
  line-height: 20px;
}

.grid-item h5 {
  margin-bottom: 20px; 
}

.grid{
  margin-top: 125px;
}

.grid-sizer,
.grid-item {
   width: 33.3%; 
   padding: 50px;
   float: left;
}
/* 2 columns */
.grid-item--width2 { width: 40%; }

@media screen and (max-width: 1000px) {
  .grid-item { width: 50%; }
}

@media screen and (max-width: 768px) {
  .grid-item { width: 100%; }
}

.feature {
  display: inline-block;
}

.feature img {
  width: 100%;
}

.more {
  border: 1px solid #9e9e9e;
  width: 105px;
  padding: 10px;
  font-size: 12px;
  float: right;
  text-align: center;
}

.news {
  text-align: center;
  margin: 180px 0 -105px 0;
}

.new-con {
  margin: 170px auto 0 auto;
  width: 60%;
  text-align: left;
}

.new-info {
  margin: 40px 0;
}

.new-con h2 {
  font-size: 30px;
  color: #555;
}

.new-con h6 {
  font-size: 12px;
  color: #8a8a8a;
}

.new-con div img {
  width: 700px;
  margin: 40px 0;
  align-items: left;
}

iframe {
  width: 100%;
  margin: 40px 0;
}