section {
    height: auto;
}

p {
	width: 100%;
	line-height: 25px;
	font-size: 14px;
}

h1, h2 {
	font-size: 20px;
	margin: 10px 0;
	letter-spacing: 2px;
    font-style: italic;
}

h3 {
	font-size: 16px;
    font-weight: lighter;
    margin: 20px 0 10px 0;
    letter-spacing: 2px;
}

h4 {
	font-style: italic;
	text-align: right;
	font-size: 12px;
	line-height: 35px;
	margin-top: 20px; 
}

.sec-img {
	height: 500px;
}

.sec-img img {
    height: 500px;
    margin-left: 10px;
}

.sec-norm {
	margin: 70px 0;
}

.conwidth {
	width: 70%;
    margin: auto;
}

.sec-norm h2 {
    margin-bottom: 50px;
}

.text-lft {
	text-align: left;
}

.underline {
	border-bottom: 1px solid #f0f0f0;
}

.staffoto img {
	width: 180px;
}


.con1 {
	overflow: hidden;
    width: 100%;
}

.onepage-foot {
	position: relative;
	background-color: #999;
}

.onepage-foot p {
	color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: #000;
    line-height: 50px;
}

.proj-btm {
    width: 200px;
    display: inline-block;
    background-image: url('../img/rhombus2.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.proj-btm a p {
	line-height: 40px;
}

footer {
	margin-top: 50px;
}

@media screen and (max-width: 400px) {
	.proj-btm {
    	width: 100%;
    	margin: 20px 0;
    }
}

.staffoto img {
	-webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}

.staffoto img:hover {
-webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

.feature {
	width: 350px;
	display: inline-block;
}

.feature img {
	width: 350px;
}

.film_roll_wrapper {
   display: block;
   text-align: center;
   float: none;
   position: relative;
   top: auto;
   right: auto;
   bottom: auto;
   left: auto;
   z-index: auto;
   width: 100%;
   margin: 0 !important;
   padding: 0 !important;
   overflow: hidden;
   width: 100%;
 }
.film_roll_shuttle {
   text-align: left;
   float: none;
   position: relative;
   top: 0;
   left: 0;
   right: auto;
   bottom: auto;
   margin: 0 !important;
   padding: 0 !important;
   z-index: auto;
 }
 .film_roll_shuttle.vertical_center:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   margin-right: -0.25em;
 }
.film_roll_child {
  position: relative;
  display: inline-block;
  *display:inline;
  vertical-align:middle;
  zoom:1;
}
.film_roll_prev, .film_roll_next {
   position: absolute;
   top: 48%;
   left: 15px;
   width: 40px;
   height: 40px;
   margin: -20px 0 0 0;
   padding: 0;
   font-size: 60px;
   font-weight: 100;
   line-height: 30px;
   color: white;
   text-align: center;
   background: #222;
   border: 3px solid white;
   border-radius: 23px;
   opacity: 0.5;
 }
.film_roll_prev:hover, .film_roll_next:hover {
   color: white;
   text-decoration: none;
   opacity: 0.9;
 }
.film_roll_next {
   left: auto;
   right: 15px;
 }
.film_roll_pager {
   text-align: center;
 }
.film_roll_pager a {
   width: 5px;
   height: 5px;
   border: 2px solid #333;
   border-radius: 5px;
   display: inline-block;
   margin: 0 5px 0 0;
   transition: all 1s ease;
 }
.film_roll_pager a:hover {
   background: #666;
 }
.film_roll_pager a.active {
   background: #333;
 }
.film_roll_pager span {
   display: none;
 }
 .film_roll_pager a, a.film_roll_prev, a.film_roll_next {
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
 }
