section {
    height: auto;
}
.fxFade {
    background: rgba(0,0,0,0.5);
}

.sec-img {
	height: 500px;
  background-color: #000;
}

.sec-img img {
    height: 500px;
}

.sec-norm {
	margin: 70px 0;
}

.sec-dark {
    padding: 70px 0;
    background-color: #000;
}

.conwidth {
	width: 70%;
    margin: auto;
}

.sec-norm h2 {
    margin-bottom: 50px;
}

.text-lft {
	text-align: left;
}

.text-white {
  color: #fff;
  text-align: center;
}

.work_name{
    padding-top:20px;
}

.underline {
	border-bottom: 1px solid #f0f0f0;
}

.staffoto img {
	width: 180px;
}


.con1 {
	overflow: hidden;
    width: 100%;
}

.onepage-foot {
  position: relative;
  background-color: #111;
}

.onepage-foot p {
	color: #fff;
    font-size: 12px;
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: #000;
    line-height: 50px;
}

.proj-btm {
    width: 200px;
    display: inline-block;
    background-image: url('../img/rhombus2.svg');
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: contain;
}

.proj-btm a p {
	line-height: 40px;
}

footer {
	margin-top: 50px;
}

@media screen and (max-width: 400px) {
	.proj-btm {
    	width: 100%;
    	margin: 20px 0;
    }
}

.staffoto img {
	-webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}

.staffoto img:hover {
-webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

.box-line img {
  border: none;
  transition: border .5s;
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
 
}

.box-line img:hover {
  border: 0.5px solid;
  padding: 5px;
}

.feature {
	display: inline-block;
}

.feature img {
	width: 100%;
}

.film_roll_wrapper {
   display: block;
   text-align: center;
   float: none;
   position: relative;
   top: auto;
   right: auto;
   bottom: auto;
   left: auto;
   z-index: auto;
   width: 100%;
   margin: 0 !important;
   padding: 0 !important;
   overflow: hidden;
   width: 100%;
 }
.film_roll_shuttle {
   text-align: left;
   float: none;
   position: relative;
   top: 0;
   left: 0;
   right: auto;
   bottom: auto;
   margin: 0 !important;
   padding: 0 !important;
   z-index: auto;
   background-color: #000;
 }
 .film_roll_shuttle.vertical_center:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   margin-right: -0.25em;
 }
.film_roll_child {
  position: relative;
  display: inline-block;
  *display:inline;
  vertical-align:middle;
  zoom:1;
}
.film_roll_prev, .film_roll_next {
   position: absolute;
   top: 48%;
   left: 15px;
   width: 40px;
   height: 40px;
   margin: -20px 0 0 0;
   padding: 0;
   font-size: 33px;
   font-weight: 100;
   line-height: 38px;
   color: white;
   text-align: center;
   background: #222;
   opacity: 0.5;
 }
.film_roll_prev:hover, .film_roll_next:hover {
   color: white;
   text-decoration: none;
   opacity: 0.9;
 }
.film_roll_next {
   left: auto;
   right: 0px;
 }

 .film_roll_prev {
   left: 0;
 }

.film_roll_pager {
   text-align: center;
   margin: 10px 0;
 }

.film_roll_pager a {
   width: 4px;
    height: 4px;
    border-radius: 1px;
   display: inline-block;
   margin: 0 6px 0 0;
   transition: all 1s ease;
   background-color: #999;
 }
.film_roll_pager a:hover {
   background: #666;
 }
.film_roll_pager a.active {
   background: #333;
 }
.film_roll_pager span {
   display: none;
 }
 .film_roll_pager a, a.film_roll_prev, a.film_roll_next {
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
 }

.grid{
  margin-top: 125px;
}

.grid-sizer,
.grid-item { width: 25%; padding-bottom: 30px;}
/* 2 columns */
.grid-item--width2 { width: 40%; }

@media screen and (max-width: 768px) {
  .grid-item { width: 50%; }
}

#a-slider {
  width: 100%;
  height: 315px;
  padding: 45px 0;
      background-image: url('../img/smo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.awards {
  margin-top: 60px;
}

#a-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff; 
    opacity: 0.5;
    width: 5px;
    height: 5px;
}

#a-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#a-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
  opacity: 1;
}


#a-slider .bx-wrapper .bx-controls-direction a {
  text-indent: -9999px;
  width: 40px;
  height: 58px;
  opacity: 0.7;
  transition: opacity .5s;
}

#a-slider .bx-wrapper .bx-controls-direction a:hover {
  opacity: 1;
}

#a-slider .bx-wrapper .bx-prev {
  background-image: url(/img/pret.png); 
  background-size: 40px;
}

#a-slider .bx-wrapper .bx-next {
  background-image: url(/img/nt.png); 
    background-size: 40px;
}

#a-slider .bx-wrapper .bx-prev {
    left: 0px;
    top: 0;
}

#a-slider .bx-wrapper .bx-next {
    right: 0px;
      top: 0;
}

.tour{
    border-top: 1px solid #d9d9d9;
    margin-top: 20px;
    padding-top: 20px;
}

.tour ul li {
    display: inline-block;
}

.tour ul li:first-child {
   width: 140px;
}

.mainsection {
    width: 80%;
    margin: auto;
}

.mainstaff {
  width: 250px;
  display: inline-block;
  margin-bottom: 40px;
}